.img-product {
    width: 380px;
    margin-bottom: 10px;
}

.img-product > img {
    width: 100px;
}

.product-container > .tagline {
    font-size: 1.2em;
    font-weight: bold;
    color: #F2921D;
    margin-bottom: 3px;
}

.productDesc {
    padding-inline: 50px;
    display: flex;
    justify-content: space-between;
}

.productDesc > p {
    color: #727472
}

